mixin profile(profile)
	article(role="article", itemscope itemtype="http://schema.org/BlogPosting").links-list
		.row
			.col-xs-1
				h3
					span.entypo.entypo-link.text-muted
			.col-xs-11
				h4(itemprop='name').mt-5
					a(href='#{profile.url}', itemprop='url').text-dark
						strong= profile.title
				if profile.logourl
					.img-wrapper
						img(src='#{profile.logourl}', height='60px').img-circle
						//img(style='height:100px', src='#{profile.logourl}')

				if profile.who 
						//-each user in profile.who
						p.byline: small.text-muted #{profile.who.name.full} &middot; added #{moment(profile.publishedAt).fromNow()}
						//p.link: a(href=profile.url, target='_blank'): em!=profile.url
				if profile.skillset && profile.skillset.length
					ul.list-unstyled.tags-list
						each tag, i in profile.skillset
							li: a(href='/profiles/' + tag.key)= tag.name
				p.byline: medium.text-muted Highlights
				.description
					!= profile.summary.trim
		
